body{
	background-color: #eceff0;	
}

body,
input{
	font:1em "Open Sans", sans-serif;
	color: #363629;
}

a{
	text-decoration: none;
	border-bottom: 1px dashed #363629;
}

/*list */
.list{
	background-color: #fff;
	margin:20px auto;
	width: 100%;
	max-width: 500px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 2px;
	box-shadow: -8px -5px 5px -1px rgba(0,0,0,0.62);
}

.list .header{
	font-family: 'Indie Flower', cursive;
}

/*items */

.items{
	margin:0;
	padding: 0;
	list-style-type: none;
}

.items li:hover .done-button{
	opacity: 1;
}

.items .item.done{
	text-decoration: line-through;

}

/* Done button */
.done-button{
	display: inline-block;
	font-size: 0.8em;
	background-color: #d9dfe1;
	color: #363639;
	padding: 3px 6px;
	border:0;
	opacity: 0.4;
}

.items li,
.item-add .input{
	border: 0;
	border-bottom: 1px dashed #ccc;
	padding: 15px 0;
}

.input{
	border:0;
	border-bottom: 1px dashed #ccc;
	padding: 15px 0;
	width: 100%;
}


.input:focus{
	outline: none;
}

/* Submit button */

.submit{
	background-color: #fff;
	padding: 5px 10px;
	border:1px solid #ddd;
	width: 100%;
	margin-top: 10px;
	box-shadow: 6px 9px 27px -1px rgba(0,0,0,0.62);
}

/* font-family: 'Roboto', sans-serif;
/* font-family: 'Open Sans', sans-serif;
/* font-family: 'Indie Flower', cursive;
